@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"), url("../fonts/HelveticaNeue-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Bold-Condensed.woff2") format("woff2"), url("../fonts/HelveticaNeue-Bold-Condensed.woff") format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	font-stretch: condensed;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Black.woff2") format("woff2"), url("../fonts/HelveticaNeue-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	font-stretch: normal;
}

@font-face {
	font-family: 'Helvetica Neue';
	src: url("../fonts/HelveticaNeue-Black-Condensed.woff2") format("woff2"), url("../fonts/HelveticaNeue-Black-Condensed.woff") format("woff");
	font-weight: 900;
	font-style: normal;
	font-display: swap;
	font-stretch: condensed;
}
